html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.navbar-brand {
    color: rgb(255, 40, 0) !important;
    margin: 15px 10px 15px 40px;
}

.sign-in-bar {
    margin-right: 40px;
}

.margin-40 {
    margin-left: 40px;
}

.modalLink {
    text-decoration: none;
    color: rgb(90, 90, 90);
}

.modalLink:hover {
    text-decoration: none;
    color: rgb(40, 40, 40);
}

/* start of home page css */

.welcome-sign {
    height: 550px;
    padding: 0;
    background: url("../images/home-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-sign-note {
    width: 50%;
    height: 100%;
    float: right;
    margin: 0;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    transition: all 1s;
}

.welcome-sign-note h1 {
    margin-top: 200px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 40, 0);
    transition: all 1s;
}

.welcome-sign-note p {
    color: white;
    font-weight: bold;
}

.brands {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
    background-color: rgb(255, 40, 0);
    margin: 0;
}

.brands h1 {
    padding-top: 40px;
    margin-bottom: 20px;
    color: white;
}

#manufacturers {
    margin-bottom: 50px;
    color: white;
}

.contact-div {
    padding: 40px;
    text-align: center;
}

.contact-div h1 {
    color: rgb(255, 40, 0);
    padding-bottom: 25px;
}

.map-div iframe {
    width: 100%;
    height: 500px;
    border: 0;
    display: block;
}

/* end of home page css */

/* start of the services page css */

.services-header {
    padding: 40px;
    text-align: center;
}

.services-header h1 {
    color: rgb(255, 40, 0);
}

.services-div {
    padding: 25px 75px;
}

.service-group {
    border: 2px solid rgb(50, 50, 50);
    border-radius: 5px;
    padding: 40px;
    background-color: rgb(240, 240, 240);
    margin-bottom: 20px;
}

h3 {
    color: rgb(255, 40, 0);
    text-align: center;
    margin-bottom: 40px;
}

.service {
    border: 2px solid rgb(255, 40, 0);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.service {
    text-align: left;
}

.service h5 {
    color: rgb(255, 40, 0);
}

/* end of the services page css */

/* start of the about page css */

.canvas {
    width: 100%;
    background: url("../images/about-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 0px;
    transition: all 1s;
}

.about-div {
    background-color: white;
    padding: 50px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s;
}

/* end of the about page css */

/* store of the shop page css */

.product-div {
    width: 100%;
    padding: 50px;
}

/* end of the about page css */

/* start of the shop page css */

.shop-header {
    padding: 40px;
    text-align: center;
}

.shop-header h1 {
    color: rgb(255, 40, 0);
}

/* end of the shop page css */

/* start of the account page css */

.pt-80 {
    padding-top: 80px;
}

.account-info-div {
    padding-top: 80px;
    padding-bottom: 40px;
    transition: all 1s;
}

.profile-div {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.account-profile-pic {
    width: 100px;
    height: 100px;
    border: 1px solid lightgray;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background: url("../images/user_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tab-pane {
    text-align: left;
    padding-top: 20px;
}

.tab-pane h4 {
    text-align: left;
    color: rgb(255, 40, 0);
}

.tab-pane hr {
    margin: 40px 0px;
}

.orders {
    text-align: center;
}

.orders p {
    margin-top: 100px;
}

.orders a {
    margin-bottom: 100px;
}

/* end of the account page css */

/* start of cart page css */

.cart-header {
    padding: 40px;
}

.cart-header h1 {
    color: rgb(255, 40, 0);
    text-align: center;
}

/* end of cart page css */

/* start of admin page css */

.admin-header {
    padding: 40px;
    text-align: center;
}

.admin-header h1 {
    color: rgb(255, 40, 0);
}

.admin-nav-div {
    padding-top: 80px;
    padding-bottom: 40px;
    transition: all 1s;
}

/* end of the admin page css */

.no-margin {
    margin: 0px !important;
}

footer {
    width: 100%;
    padding: 50px;
    text-align: center;
}

@media (max-width: 768px) {
    /* start of home page css */

    .welcome-sign-note {
        width: 100%;
        clear: both;
        transition: all 1s;
    }

    .welcome-sign-note h1 {
        font-size: 50px;
        transition: all 1s;
    }

    /* end of home page css */

    /* start of about page css */

    .canvas {
        background: none;
        background-color: white;
        transition: all 1s;
        padding: 0px;
    }

    .about-div {
        width: 100%;
        background-color: rgba(255, 255, 255, 0);
        transition: all 1s;
    }

    /* end of about page css */

    /* start of account page css */

    .account-info-div {
        padding-top: 20px;
        transition: all 1s;
    }

    /* end of account page css */

    /* start of admin page css */

    .admin-nav-div {
        padding-top: 20px;
        transition: all 1s;
    }

    /* end of admin page css */
}